body {
    padding: 40px, 100px, 40px;
    align-content: center;
    margin: 30px;
    background-color: #1a99aa;

}
div {
    box-sizing: content-box;
    height: 60px;
    width: 300px;
    background-color: #000000;
    margin: 90px 0px 0px 0px;
    text-decoration-color: #0000;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
main 
{
    margin: 200px 0px 0px 700px;
}
.button
{
    padding: 20px;
    background-color: #838383;
}
.textarea {
    background-color: white;
    color: ##000000;
   border-radius: 10px;
   border: 2px solid transparent;
   outline: none;
   font-weight: 500;
   line-height: 1.4;
   font-size: 20px;
}
.textarea:hover 
{
    cursor: pointer;
}
h1 {
    font-family: Arial;
    color: #ffffff;
    margin: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-display: auto;

}